@import '../../LandingPage/LandingPage.scss';

.menuItemWrapper {
  display: flex;
  flex-direction: column;
  width: 425px;

  .menuTitle {
    display: flex;
    justify-content: space-between;

    .title {
      font-family: Merriweather;
      font-size: 24px;
      line-height: 32px;
    }

    .price {
      font-family: Merriweather;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      text-align: right;
      color: #efba8d;
    }
  }

  .description {
    @include paragraph;
    font-size: 14px;
  }
}
