@import '../../LandingPage/LandingPage.scss';

.eventItemWrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  > div {
    padding: 25px 24px;
    height: 100%;

    h1 {
      @include title;
      margin: 0 0 11px 0;
      font-size: 24px;
      line-height: 32px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: var(--color-dark);
    }

    p {
      margin: 24px 0 0 0;
      white-space: pre-line;
    }
  }
}

.special {
  background-color: var(--color-orange);
  border-bottom: 8px solid var(--color-dark-orange);
}

.specialReverse {
  background-color: var(--color-orange);
  border-top: 8px solid var(--color-dark-orange);
}

.reverse {
  flex-direction: column-reverse;
}
